.main-cover {
  position: relative;
  &__content {
    position: absolute;
    top: 40%;
    z-index: 999;
    text-align: center;
    width: 100vw;
    margin: 0;
  }

  &__image {
    object-fit: cover;
    height: 80vh;
    width: 100vw;
    z-index: 100;
  }
}
