@use "variables" as *;
@use "main-cover";
@use "navbar";
@import "node_modules/bootstrap/scss/bootstrap";

#app {
  background-color: #1a1b1a;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
